.Quote__container{
    margin: 20px;
    display:inline-flex;
    flex-direction:row;
    align-items: left;
    width: 750px;
    height: 260px;
    border: 5px solid #ffdd02;
    justify-content: space-around;
    border-radius: 1cm;
    box-shadow: 10px 5px 5px rgb(17, 73, 194);
    background-size: 100% 100%;
    font-family: 'Homer Simpson Revised';
    src: url('http://fonts.cdnfonts.com/css/homer-simpson-revised');
    font-size: large;
    text-shadow: 0px 0px 5px rgb(223, 221, 221), 0px 0px 7px; 
 
    
}
.Quote__image{
    width: 200px;
    height: 200px;
    align-items: center;
}
.Quote__data{
    margin-left: 15px;
}
.Quote__data h3,p,small{
    margin: 0;
    padding: 0;
    text-align: left;
    flex-direction: row;
}
