.backcolor{
    background-color: aquamarine;
    border: 5px solid rgb(141, 141, 146);
    border-style: groove;
    background-image: url(../../images/sky.jpg);
    background-size: 100% ;
}
.title{
    color: rgb(226, 210, 68);
    font-size-adjust: .85;
    text-align: center;
    text-decoration: overline;
    text-shadow: 0px 0px 5px rgb(204, 203, 203), 0px 0px 5px;
    font-family: "Matura MT Script Capitals";
}
