.Detail__container{
    margin: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    top: 25%;
    left: 32%;
    border-radius: 1.5cm;
    background-image: url(../../images/portal.jpg)
    
}
.Details__img{
    width: auto;
    height: auto;
    padding-top: 25px;
    
}
.Details__data{
    text-align: center;
    width: 450px;
    height: 350px;
    padding-left: 10px;
}
.Data__row{
    display: ruby-base-container;
    flex-direction: row-reverse;
    margin-left: 8px;
    padding-left: 15px;
    text-align: justify;
}
.h3,p{
    text-align: right;
    align-items: right; 
    margin: 0px;
    padding: 0;
}
img{
    margin:10px;
    width: 190px;
    height: 190px;
    align-items: left;
    border-radius: 50px;
}
